[Desktop Entry]
Name=gsurf
GenericName=Web Browser
Comment=GObject Surf - a minimal, modular web browser
Exec=gsurf %u
Icon=gsurf
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Keywords=web;browser;internet;www;surf;webkit;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
